* {
  color: #132a13;
  font-family: "Lucida Grande", sans-serif;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f9;
}

main {
  display: flex;
  -webkit-box-shadow: 0px 0px 15px 5px #ecf39e;
  box-shadow: 0px 0px 15px 5px #ecf39e;
  height: 80vh;
  width: 80vw;
}

.left {
  height: 100%;
  width: 30%;
  background: #90a955;
  border-radius: 0 0 0 2em;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  margin: 17em 0 0 2em;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 100%;
  width: 70%;
  background: #fcfcfc;
  border-radius: 0 10px 10px 0;
}

.img {
  flex: 1 1 30%;
  object-fit: cover;
  height: 23em;
  margin: 2em;
}

img{
  height: 100%;
  border-radius: 0 0 2em 2em;
}
.profile-container {
  flex: 1 1 65%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

h1 {
  padding: 1em;
  text-transform: uppercase;
  background: #ecf39e;
  align-self: start;
  border: none;
  font-weight: 900;
  letter-spacing: 0.3em;
  border-radius: 0 0 5px 5px;
}

h2 {
  font-weight: 600;
  background: #ecf39e;
  align-self: start;
  padding: 5px;
  border-radius: 5px;
}

p {
  border-bottom: 1px solid #ecf39e;
  border-radius: 0 0 10px 10px;
  margin-right: 1em;
  line-height: 1.5em;
  color: #333;
}

.skills {
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

button {
  background: #f4f4f9;
  font-weight: 500;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

h1:hover,
h2:hover,
button:hover {
  background: #90a955;
  transition: 0.2s;
}
